.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    color: white;
    height: 100vh;
  }
  
.text {
flex-basis: 40%;
padding: 10%;
padding-left: 30%;
box-sizing: border-box;
}

.splines {
flex-basis: 60%;
padding: 20px;
box-sizing: border-box;
}

